@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
html{
    height: 100%;
}
body{
    margin: 0px;
    background-image: url(cloudBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FAF9F6;
}
#curtain{
    display: none;
    position: fixed;
    inset: 0;
    z-index: 2;
}
#intructionsBtn{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    font-size: 1.2em;
    background-color: hsla(0, 2%, 57%, 0.4);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
}
#intructionsBtn:hover{
    background-color: hsla(0, 2%, 65%, 0.4);
}
#intructionsBtn:active{
    background-color: hsla(0, 2%, 70%, 0.4);
}
#instructions{
    top: 5px;
    left: 5px;
    display: none;
    width: 300px;
    z-index: 3;
    font-size: 0.9em;
    font-weight: bold;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background-color: hsla(0, 2%, 30%, 0.4);
    backdrop-filter: blur(10px);
}
#instructions.visible, #intructionsBtn.visible, #curtain.visible{
    display: block;
}
.container{
    font-family: "Rubik Bubbles", system-ui;
    font-size: 3em;
    font-weight: 450;
    display: flex;
    justify-content: center;
    text-align: center;
}
#playerNum{
    font-family: "Rubik Bubbles", system-ui;
    font-size: 0.7em;
    text-align: center;
    height: 35px;
    width: 60px;
    border: 2px solid #FAF9F6;
    border-radius: 10px;
    background-color: rgba(149, 144, 144, 0.4);
    backdrop-filter: blur(10px);
    color: #FAF9F6;
}
#startButton{
    height: 50px;
    width: 50px;
    padding: 10px;
    border: none;
    border-radius: 100%;
    color: #FAF9F6;
    background: hsl(120, 69%, 60%);
}
#startButton:hover{
    background: hsl(120, 69%, 65%);
}
#startButton:active{
    background: hsl(120, 69%, 70%);
}
#startButton.unclickable{
    background: hsla(0, 91%, 55%, 0.733);
}
#startButton.unclickable:hover{
    background: hsla(0, 91%, 60%, 0.733);
}
#startButton.unclickable:active{
    background: hsla(0, 91%, 65%, 0.733);
}
#wordsRevealContainer{
    font-family: "Rubik Bubbles", system-ui;
    font-size: 3em;
    font-weight: 450;
    display: flex;
    justify-content: center;
    text-align: center;
}
#showWord{
    background-color: rgba(149, 144, 144, 0.4);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 15px;
    color: #FAF9F6;
}
